.catalog {
   padding: 80px 0px 80px 0px;
   background: #F9F9F9;

   // .catalog__text

   &__text {
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 28px;
      line-height: 28px;
      color: #242424;
      text-transform: uppercase;
   }
}

.catalog-title {
   margin-bottom: 40px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.catalog__subtitle {
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;
   color: #8B8B8B;
}

.container {
}

.catalog-container {
   margin: 0 auto;
   max-width: 1135px;
   width: 100%;
}

.cards {
   display: grid;
   grid-template-columns: repeat(auto-fill, 250px);
   gap: 45px 45px;
   justify-content: center;
}

.cards-item {
   transition: transform 0.2s ease-in-out;

   &:hover {
      transform: translateY(-8px);

   }
   

   // .cards-item__img

   &__img {
      margin-bottom: 10px;
      border-radius: 10px;
   }

   &__img:hover {
   }
}
.cards-price {
   margin-bottom: 10px;
   display: flex;
   align-items: center;

   // .cards-price__current

   &__current {
      padding-right: 10px;
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
      color: #242424;
   }

   // .cards-price__old

   &__old {
      font-weight: 600;
      font-size: 16px;
      line-height: 0px;
      text-decoration-line: line-through;
      color: #8B8B8B;
   }
}
.cards {

   // .cards__title

   &__title {
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #8B8B8B;
   }

   // .cards__star

   &__star {
      

   }
}
.cards-stars {
   margin-bottom: 10px;
}
.cards-button {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.cards-btn {
   

   // .cards-btn__left

   &__left {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 40px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      color: #FFFFFF;
      background: linear-gradient(90deg, #e541b1 0%, #C03092 100%);
      border-radius: 5px;
   }

   // .cards-btn__right

   &__right {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 40px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      color: #C53296;
      background: transparent;
      border-radius: 5px;
      border: 2px solid #C03092;
   }
}
